<div class="side-top">
  <div class="user-name">
   <%= link_to current_user.name, edit_user_path(current_user) %>
  </div>

  <div class="new-chat">
  <%= link_to "Make a chat", new_room_path %>
  </div>

</div>

<div class="side-tables">
  <div class="side-table">
    <% current_user.rooms.each do |room| %>
    <div class="room">
      <div class="room-name">
        <a href="#"><%= room.name %></a>
      </div>
    </div>
  <% end %>
  </div>
  <div class="side-table">
    <div class="room-name">
      <a href="#">room2</a>
    </div>
  </div>

</div>
